POSTGRES_USER=root
POSTGRES_PASSWORD=
POSTGRES_DB=crm_database
AUTH_DB_PASSWORD=
COLLAB_DB_PASSWORD=
MEDIA_DB_PASSWORD=
GATEWAY_TRUST_SECRET=
KRAKEND_AUTH_HOST=http://auth:3000
KRAKEND_COLLAB_HOST=http://collab:3001
KRAKEND_MEDIA_HOST=http://media:3002
POSTGRES_HOST_PORT=5432
REDIS_HOST_PORT=6379
CLAMAV_HOST_PORT=3310
FRONTEND_HOST_PORT=80
CSP_CONNECT_SRC_EXTRA=
CSP_IMG_SRC_EXTRA=
