import { z } from "zod";
import "dotenv/config";

const envSchema = z.object({
  NODE_ENV: z.enum(["development", "production", "test"]).default("development"),
  PORT: z.coerce.number().int().positive().default({{SERVICE_PORT}}),
  DB_URL: z.string().min(1),
  DB_SCHEMA: z.string().min(1).default("schema_{{SERVICE_NAME}}"),
  DB_ROLE: z.string().min(1).default("{{SERVICE_NAME}}_user"),
  DB_ROLE_PASSWORD: z.string().min(1).default("{{SERVICE_NAME}}password"),
  REDIS_URL: z.string().url().optional(),
  SERVICE_VERSION: z.string().optional().default("1.0.0"),
  SERVICE_NAME: z.string().optional().default("crm-{{SERVICE_NAME}}"),
  LOG_LEVEL: z.string().optional(),
  HOSTNAME: z.string().default("localhost"),
});

const _env = envSchema.safeParse(process.env);
if (!_env.success) {
  console.error(
    "Invalid environment variables:",
    JSON.stringify(_env.error.flatten().fieldErrors, null, 2)
  );
  process.exit(1);
}

export const env = _env.data;
